@font-face {
	font-family: Montserrat-Regular;
	src: url(fonts/Montserrat-Regular.ttf);
}

:root{

--corPrincipal:#7FD1DD;

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat-Regular;
	text-align: justify;
	scroll-behavior: smooth;
	
}
.top {
	--offset: 50px; 
	
	position: sticky;
	bottom: 50px; 
	right: 1vh;
	place-self: end;
	margin-top: calc(100vh + var(--offset)); 
	text-decoration: none;
	padding: 2px;
	color:  var(--corPrincipal);
	white-space: nowrap;
	font-size: 5rem;
  } 

ul{
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: var(--corPrincipal);
}

header{	
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--corPrincipal);
    position: sticky;
    width: 100%;
    transition: 0.5s;   
    z-index: 100000; 
    top: 0; 
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.logo{
    background-image: url('imgs/logo.png');
    background-size: 100px;
	background-repeat: no-repeat;
    width: 150px;
    height: calc(125%);
    position: relative; 
    cursor: pointer;
    z-index: 10000000;
}
.menu{
    display: flex;
    list-style: none;
    gap:4.25rem;
}

.menu a{
    display: block;
    padding: .1rem;
    color: white;
}

#btn-celular{
    display: none;
}

#banner{
    width: 100%;
}
main{
    background-color: #ECECEC;
}

main h1{
    color: #000000;
    opacity: 62%;
    text-align: center;
    padding: 10px;
}

.aprender{
    display: flex;
    flex-wrap: wrap;
}

.bloco-aprender{
    background-color: var(--corPrincipal);
	display: inline;
	margin: 17px;
	position: relative;
	float: left;
	align-items: center;
	color: white	;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.67);
    border-radius: 10px;
	flex: 1 1 260px;
}

#icon-aprender-livro{
mix-blend-mode: overlay; 
width: 50px;
height: 50px; 
position: relative;
display: inline;

}

#icon-aprender{
mix-blend-mode: overlay; 
width: 40px;
height: 40px; 
position: relative;
display: inline;
margin: 5px;
}

.bloco-aprender h2{
    text-align: center;
    color: white;
    position: relative;
    display: inline;
    top: -25px;
    margin-left: 78px;
}

.bloco-aprender p{
    text-align: justify;
    margin: 0 10px;
}

.conteudo{
    margin-top: 30px;
    background-image: url('imgs/ret.png');
    background-repeat:repeat-y; 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.conteudo h2{
    display: inline;
    position: relative;
}

.bloco-conteudo{
    background-color: var(--corPrincipal);
    height: 300px;
    width: 500px;  
    position: relative;
    float: left;  
    margin: 50px 0px;
    border-radius: 20px;
}

.numeracao{
    background-color: #D9D9D9;
    width: 55px;
    height: 55px;
    border: solid .5px;
    border-radius: 10px;
    position: relative;
    left: -30px;
    top: 20px;
}

.numeracao p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    font-weight: bold;
    font-size: 1.5rem;
}
  
  @media only screen and (max-width: 600px){ 
	#header{
		height: 100px; 
	}
    .menu{
       display: block;
       position: absolute;
       width: 100%;
       top: 100px;
       right: 0px;
       background-color: var(--corPrincipal);
       color: white; 
       height: 0;
       z-index: 1000;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden; 
    }

    #nav.active .menu{
        visibility: visible;
        height: calc(100% + 78.5vh);
        overflow-y: auto;
    }

    .menu a{
		font-size: 1.7rem;
        padding: 1rem 0;
        margin: 0 1rem;
        color: white;
        border-bottom: 2px solid #8cdae6 ;
        text-align: center;
    }

    .menu a:hover{
        background-color: #4db8c9;
    }

    #btn-celular{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        background: none;
        cursor: pointer;
        border: none;
        color: rgb(255, 255, 255);
        gap: .5rem;
    }

    #icon-menu{
        border-bottom: 2px solid;
        width: 20px;
        color: white;
    }
    #icon-menu::after, #icon-menu::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin: 5px 0px 5px 0px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }
    
    #nav.active #icon-menu{
        border-color: transparent; 
    }

    #nav.active #icon-menu::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #nav.active #icon-menu::before{
        transform: rotate(135deg);
    }

  }

  @media only screen and (max-width: 999px){ 

    .conteudo{
        margin-top: 30px;
        background-image: url('imgs/ret2.png');
        background-repeat:repeat-y; 
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
    }

  }